body, html {
    font-family: Helvetica, Arial, sans-serif;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	background-image: url('Park-of-Petr-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 0vh;       /* At least the full height of the viewport */
    margin: 0;               /* Removing default margin */
}

:lang(be) { 
    font-family: 'Georgia', cursive;


}




/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.frame{
	width: 600px;
	height: 350px;
	position: relative;
	background: #2B190F;
	border-radius:30px 30px 40px 40px; 
}



#button_open_envelope{
	width: 180px;
	height: 30px;
	position: absolute;
	z-index: 311;
	top: 250px;
	left: 208px;
	border-radius: 10px;
	color: #A79155;
	background: #2A2811;
	font-size: 26px;
	padding:15px 0; 
	border: 2px solid #251D10;
    transition: all .3s ease-in-out;
}
#button_open_envelope:hover{
	background: #A79155;
	color: #2d2314;
	transform:scale(1.15);
	cursor: pointer;
}
.message{
	position: relative;
	width: 600px;
	min-height:350px;
	background: transparent;
	transform: translate3d(0,0,0);
	margin: 0 auto;
	top: 25px;
	transition-delay:2s;
	z-index: 300;
	overflow: hidden;
}

  .frame .message img {
	
	width: 100%;
	height: auto;
	object-fit: fill;
	transform: translate3d(0,0,0);
}


  .left, .right, .top {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    z-index: 310;
}

.left {
    border-left: 360px solid #2A2811;
    border-top: 180px solid transparent;
    border-bottom: 150px solid transparent;
    border-top-left-radius: 30px; /* Note: This will not visually affect your actual triangle */
}

.right {
    border-left: 240px solid transparent;
    border-right: 360px solid #2A2811;
    border-top: 180px solid transparent;
    border-bottom: 150px solid transparent;
    border-top-right-radius: 30px; /* Similar note as left */
}

.top {
	border-right: 300px solid transparent;
	border-top: 200px solid #251D10;
	border-left: 300px solid transparent;
	transition:transform 1s,border 1s, ease-in-out;
	transform-origin:top;
	transform:rotateX(0deg);
	z-index: 310;
	border-radius: 30px 30px 30px 30px;
}

.bottom {
    width: 600px;
    height: 280px;
    position: absolute;
    background: #251D10;
    top: 180px;
    border-radius: 0 0 30px 30px;
    z-index: 310; 
}

.open{
	transform-origin:top;
	transform:rotateX(180deg);
	transition:transform 1s,border 1s,z-index 0.9s ease-in-out;
	border-top: 200px solid #311c11;
	z-index: 265;
}


.vertically-oriented-pull {
    animation: message_animation 4s ease-in-out forwards; /* Smooth prolonged animation */
    transform-origin: center center;  /* Central pivot for rotation to ensure symmetrical rotation */
    position: relative;  /* Make sure it's positioned relative to its normal position or absolute if needed */
    z-index: 800;  /* High z-index to ensure it is over the envelope */
}

@keyframes message_animation {
    0% {
        transform: translateY(0px) rotate(0deg); /* Starting state: no movement, no rotation */
    }


	50% {
		transform: translateY(-425px) rotate(0deg);
	}

    80% {
        transform: translateY(-350px) rotate(-90deg) scale(0.7); /* End state: moved up and rotated */
    }

	100% {
		transform: translateY(-50px) rotate(-90deg) scale(1.2);;
	}

	
}

@media only screen{
	.vertically-oriented-pull {
	  animation: message_animation_mobile 4s ease-in-out forwards;
	}
  
	@keyframes message_animation_mobile {
	  0% {
		  transform: translateY(0px) rotate(0deg);
	  }
	  50% {
		  transform: translateY(-40vh) rotate(0deg);  /* adjusted to use viewport height */
	  }
	  80% {
		  transform: translateY(-30vh) rotate(-90deg) scale(0.8);  /* adjusted to use viewport height */
	  }
	  100% {
		  transform: translateY(-10vh) rotate(-90deg) scale(1.4);  /* reduced scale and adjusted translation */
	  }
	}
  }